My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1ac1986d-d591-4b58-b58f-2818567c8493",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg",
          "mode": "list",
          "cachedResultName": "n8n_automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email_status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        220,
        0
      ],
      "id": "f84a5191-f4dd-4441-88c6-cb3bed6e17d3",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zDwu63H0gKLjRBgn",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 2,
        "output": "={{!$json[\"last_contacted\"] ||\n  new Date($json[\"last_contacted\"]) < new Date(Date.now() - 30 * 24 * 60 * 60 * 1000)\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        440,
        0
      ],
      "id": "6b7867cf-0f2f-4da8-b2c1-66a67ad60845",
      "name": "Check Last Contacted"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Renewal Reminder for {{ $json[\"company\"] }}",
        "message": "=Hi {{ $json[\"first_name\"] }},<br><br>  Just a reminder that your last purchase — <strong>{{ $json[\"last_product_purchased\"] }}</strong> —  is up for renewal on <strong>{{ $json[\"renewal_date\"] }}</strong>.<br><br>  Please let me know if you have any questions or need assistance.<br><br>  Best regards,<br> Deep Mehta",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        100
      ],
      "id": "eb363980-c5c4-444c-a368-ae8eeeccd57c",
      "name": "Gmail",
      "webhookId": "41fabe95-2949-4788-b44b-a6c3c23cc400",
      "credentials": {
        "gmailOAuth2": {
          "id": "ibQ7kPOj9Os4psv2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "724de2d0-61ee-4365-a8da-73b210ce31ac",
              "leftValue": "={{$node[\"Gmail\"].json.id !== undefined}}",
              "rightValue": "2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        100
      ],
      "id": "87940519-e55e-4900-8d2e-7c53b725f7ac",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg",
          "mode": "list",
          "cachedResultName": "n8n_automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Check Last Contacted').item.json.email }}",
            "email_status": "sent",
            "last_contacted": "={{ $now }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_product_purchased",
              "displayName": "last_product_purchased",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "renewal_date",
              "displayName": "renewal_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_contacted",
              "displayName": "last_contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        0
      ],
      "id": "13b15346-2fe8-4351-8236-437663d1d3c7",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zDwu63H0gKLjRBgn",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg",
          "mode": "list",
          "cachedResultName": "n8n_automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ElihASsvKH5d5SFoNcC5N-u6Xmt7j8cfatxhwwaLeqg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "email_status": "Error"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_product_purchased",
              "displayName": "last_product_purchased",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "renewal_date",
              "displayName": "renewal_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_contacted",
              "displayName": "last_contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        640,
        -120
      ],
      "id": "f00687ec-d4ed-49f4-90ac-df7e2f6fe3b1",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "zDwu63H0gKLjRBgn",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Check Last Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Last Contacted": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21312b2a-aeff-4f21-b473-c90ba6aa8e61",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "290c5afdea3cf9b94651473c40bc1bd8719248d1cd66e0bea502689f8f58edb7"
  },
  "id": "iVutSRnHR4OVJio6",
  "tags": []
}